<!DOCTYPE html>
<html>
<head>
  <title>ExceptionCanary</title>
  <%= stylesheet_link_tag    'exception_canary/application', media: 'all' %>
  <%= javascript_include_tag 'exception_canary/application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
